body{
    padding: 0;
    margin: 0;
    border: 0;
    background-image: url("images/bicycle-161524_1280.png");
    background-size: cover;
    margin-bottom: 64px;
}

.cat li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.catbox {
    display: inline-block;
}

.width {
    text-align: center;
}

.catheader {
    background-color: blue;
}

nav {
    border-bottom: 4px black solid;
}

#top{
    position: sticky;
    top:0;
}

#bottom{
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 20px;
    font-style: italic;
    font-size: 16px;
    overflow: auto;
}

.center_content{
    /*padding-bottom: 50px;*/
}

[type="radio"]:not(:checked), [type="radio"]:checked {
    position: relative;
    opacity: 100;
}